{% extends 'base_teacher.html' %} <br />

{% load static %} <br />

{% block title %}Home{% endblock title %} <br />

{% block content %}

<style>
  @media (max-width: 768px) {
    .card {
      min-height: 350px;
      max-width: 700px;
    }
  }

  @media (max-width: 420px) {
    .card {
      margin-left: -55px;
      width: 17rem;
    }
  }
  @media (max-width: 300px) {
    .card {
      margin-left: -40px;
      width: 14rem;
    }
  }
</style>

<link rel="stylesheet" href="{% static 'css/card.css' %}" />

<section class="wrapper">
  <div class="container">
    <div class="row">
      {% for cr in create %}
      <div class="col-sm-12 col-md-6 col-lg-4 mb-4">
        <div
          class="card text-white card-has-bg click-col"
          style="background-image: url('/static/img/main.jpg')"
        >
          <img
            class="card-img d-none"
            src="https://source.unsplash.com/600x900/?tech,street"
            alt="Goverment Lorem Ipsum Sit Amet Consectetur dipisi?"
          />
          <a href="{% url 'classshow' cr.id %}" class="text-decoration-none">
            <div class="card-img-overlay d-flex flex-column">
              <div class="card-body">
                <small class="card-meta mb-2">{{cr.subject_name}}</small>
                <h4 class="card-title fw-bold mt-0">
                  <a class="text-white text-decoration-none" herf="#"
                    >{{cr.class_code_name}}</a
                  >
                </h4>
                <small><i class="far fa-clock"></i> {{cr.section}}</small>
              </div>
              <div class="card-footer">
                <div class="media">
                  <div class="media-body">
                    <h6 class="my-0 text-white d-block">
                      {{cr.user.first_name}}
                    </h6>
                    <small>{{cr.user.email}}</small>
                  </div>
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>

{% endblock content %}
